# Introduction to Python programming




### Introduction to Python

In [2]:
print('Hello world, i am learning to code in Python')

Hello world, i am learning to code in Python

# Variable and identifier in python
variable is any object that occupies space on computer memory 
while identifier is used to identify variable stored computer memory

In [3]:
name = "Oluwaseun"

In [4]:
print(name)

Oluwaseun

# RULES FOR NAMING IDENTIFIER/variable
1. variable name cannot start with a number thou number can be found in ay other place
2. Any special character cannot be used in variable name except underscore
3. white space cannot be used to join variable name, use underscare instead
4. variable name needs to be descriptive
5. the python keywords cannot be used as variable name e.g def, class

In [7]:
first_name = "Oluwaseun"
last_name = "Michael"
age = 15
state = "Ekiti"

print("My name is", first_name, last_name, "and i am ", age, "years old", "from", state)

My name is Oluwaseun Michael and i am  15 years old from Ekiti

In [8]:
first_name = input("Please enter your first name")
last_name = input("Please enter your last name")
age = input("Oga, wetin be your age?")
state = input("What state are you from?")

print("My name is", first_name, last_name, "and i am ", age, "years old", "from", state)

Please enter your first nameOluwaseun
Please enter your last nameMichael
Oga, wetin be your age?100
What state are you from?Zion
My name is Oluwaseun Michael and i am  100 years old from Zion

In [13]:
first_name = input("Please enter your first name")
last_name = input("Please enter your last name")
state = input("What state are you from?")

print("Hello,", first_name, last_name, "from ", state,".", "You are welcome to Python class!")

Please enter your first nameSeun
Please enter your last nameMike
What state are you from?Zion
Hello, Seun Mike from  Zion . You are welcome to Python class!

In [15]:
num1 = int(input("Please enter your first number"))
num2 = int(input("Please enter your second number"))
total = num1 + num2

print("The sum of the numbers entered is ", total)

Please enter your first number3
Please enter your second number7
The sum of the numbers entered is  10

# OPERATOR IN PYTHON   |  29-04-2024

 -Arithmetic operator
-Assignment
-comparison
-membership
-identity
-logocal 
-bitwise

# Arithmetic

In [3]:
# Addition(+)

a = 2
b = 3
c = a+b
print(c)

5

In [4]:
# Subtraction(-)

a = 7
b = 3
c = a-b
print(c)

4

In [5]:
# divition(/)

a = 2
b = 3
c = a/b
print(c)

0.6666666666666666

In [7]:
# modulus(%): it returns the reminder of the division

a = 10
b = 3
c = a%b
print(c)

1

# Assignment

In [8]:
# Equal sign (=)
a = 4 # assgning 4 to a

In [10]:
# increment operator
a = 5
a+=1 # increase the value of a by 1
print(a)

6

In [11]:
# decrement operator
a = 5
a-=3 # decrease the value of a by 3
print(a)

2

# comparion operator
It returns a boolean value i.e true or false

In [12]:
# greater than(>)
a = 5
b = 7
a>b

False

In [13]:
# greater or equal to(>=)
a = 5
b = 7
a>=b

False

In [14]:
# less than(,)
a = 5
b = 7
a<b

True

In [15]:
# less or equal to(>=)
a = 5
b = 7
a<=b

True

In [16]:
# equal equal to(==) # this compares the thwo variables and returns true if the two values are the same and otherwise

a = 10
b = 5
a == b # comparing a and b

False

In [17]:
# MEMBERSHIP
# in/ not in

4 in [1,4,5,6,8]

True

In [18]:
4 not in [1,4,5,6,8]

False

In [19]:
# IDENTITY

#is/ is not
a = "Ola"
b = "ola"
a is b

False

In [20]:
a is not b

True

In [21]:
# LOGICAL

# or / and # used to join multiple conditions
#all conditions must be true for 'and' to return true result
#'or' returns true value if one of the conditions is true

(2>5) or (7<10)

True

In [22]:
(2>5) and (7<10)

False

# DATA TYPE IN PYTHON

-immutable: it cant be modified or changed after declaration e.g numbers, strings, tuple

-mutable: it be modified or changed after declaration e.g list, set, dictionary

In [ ]:
# NUMBER

num1 = 456 # int
num2 = 34.2 # float
num3 = 6 + 4j # complex

In [ ]:
# STRING

name = "Seun"
name = 'Seun'
info = """ """ # this helps to write on multiple lines

# INDEXING AND SLICING

#Indexing a way of getting access to a character in a string
#Slicing is a process of getting access to characters with a string

In [23]:
name = "Seun"

name[0]  #forward indexing

'S'

In [26]:
name = "Seun"
name[-4] #backward indexing

'S'

In [24]:
name = "olaitan"
name[3]

'i'

In [25]:
name = "olaitan"
name[-3]

't'

# SLICING



#[ index no: position no: no of char to skip]
#position no starts from 1 unlike index no that begins at 0

In [27]:
name = "olaitan"
#return "ai" from the above name
name[2:4]

'ai'

In [39]:
#return 'fun' in str below

info = 'python is fun to learn'
info[10:13]

'fun'

In [44]:
info[0:16]

'python is fun to'

In [46]:
# return # "ph  no"

info[0:16:3] #to skip 2 chars, put 3. to skp 10 chars put 11

'ph  no'

In [54]:
y = "python is easy to master"

#return 'tis e'

y[2::5]

'tis e'

# STRING METHOD

1. split
2. strip
3. replace
4. startswith
5. endswith
6. upper/lower
7. format

In [56]:
# SPLIT       #split returns list

y = "python is easy to master"

y.split()    # split by space

['python', 'is', 'easy', 'to', 'master']

In [57]:
i = "we>are>talking>about>string>method"

i.split(">")

['we', 'are', 'talking', 'about', 'string', 'method']

In [58]:
# STRIP
# it is used to remove exceesive space before and after text

name = "   Olaitan   "
name.strip()

'Olaitan'

In [59]:
name = "###>>olaitan##"

name.strip("#").strip(">")

'olaitan'

In [60]:
#REPLACE

info = "python is fun to learn"
info.replace("fun", "easy")

'python is easy to learn'

In [61]:
# STARTSWITH

# it returns boolean value

name = "olaitan"
name.startswith("o")

True

In [62]:
# ENDSWITH

name = "olaitan"
name.endswith("a")

False

In [63]:
name.upper()

'OLAITAN'

In [64]:
name = "OLAITAN"
name.lower()

'olaitan'

In [65]:
print(name)

OLAITAN

In [66]:
# FORMAT

info = "i will {} to {} python".format("love", "learn")

In [67]:
info

'i will love to learn python'

# LIST DATATYPE

In [68]:
#list is used to store data
list1 = []  #empty list

In [69]:
list2= [1,2,"ola","lion",847.4,"cow"]

list2[2]

'ola'

In [70]:
list2[3:]

['lion', 847.4, 'cow']

In [71]:
list2[3:6]

['lion', 847.4, 'cow']

In [88]:
# LIST METHODS

# 1. APPEND

lis = ["James", 'Fatima']
lis.append("Olaitan")
print(lis)

['James', 'Fatima', 'Olaitan']

In [92]:
# change fatima to Kola
lis[1] = "Kola"
print(lis)

['James', 'Kola']

In [93]:
lis.pop(1) # POP is used to remove element from a list

'Kola'

In [94]:
lis

['James']

In [95]:
lis.remove("James")
print(lis)

[]

In [96]:
print('-'*5)

-----

# TUPLE  | 30-04-2024

In [2]:
# Tupple is immutable datatype

tup = () #empty tiple

In [9]:
tup1 = (1,2,3,"ola", "james", "lion")
tup1[3]

'ola'

In [10]:
tup1[1:5]

(2, 3, 'ola', 'james')

In [14]:
tup1[::-1]

('lion', 'james', 'ola', 3, 2, 1)

# SET

In [7]:
 set1 = {} #empty set  # set does not accept duplicate values # it is unordered
set2 = {2,5,7,2}
print(set2)

{2, 5, 7}

# DICTIONARY

In [8]:
# it has key and value pair relationship
dic = {"name": "Olaitan", "age": 12, "address": "Olowoira"}
print(dic)

{'name': 'Olaitan', 'age': 12, 'address': 'Olowoira'}

In [9]:
print(dic["address"])

Olowoira

In [10]:
# adding new element to dictionary

dic["salary"]= 83938

print(dic)

{'name': 'Olaitan', 'age': 12, 'address': 'Olowoira', 'salary': 83938}

In [11]:
#to delete from a dictionary
dic.pop("age")

12

In [23]:
# dictionary of list

dic = {"name": ["Olaitan", "james", "sancho", "onana"],
       "age": [12, 33, 71, 23],
       "address": ["Olowoira", "berger", "ikeja", "ikorodu"]}

In [24]:
print(dic)

{'name': ['Olaitan', 'james', 'sancho', 'onana'], 'age': [12, 33, 71, 23], 'address': ['Olowoira', 'berger', 'ikeja', 'ikorodu']}

In [27]:
dic["address"][1] = "Arepo"

In [28]:
print(dic)

{'name': ['Olaitan', 'james', 'sancho', 'onana'], 'age': [12, 33, 71, 23], 'address': ['Olowoira', 'Arepo', 'ikeja', 'ikorodu']}

# CONTROL IN PYTHON
Control flow is order at which python is been executed

1. Conditional statment
   a. if
    b. else
    b. elif
    
2. loop statement
    a. for b. while
3. loop control statement
    a. break b. continue
4. Error handling
   a. try   b. except

In [31]:
a = 3
if a<9:
    print("We are good to go!!!")
    name = input("What is your name ")
    print("Will you like to generate a nivkname from your name ")

We are good to go!!!
What is your name Oluwaseun
Will you like to generate a nivkname from your name

In [35]:
from random import randint
num = randint(1,10)
guess = eval(input('Enter your guess: '))
if guess==num:
    print('You got it!')

Enter your guess: 1

In [36]:
a = 3
if a<9:
    print("We are good to go!!!")
    name = input("What is your name ")
    print("Will you like to generate a nivkname from your name ")
else:
    print("some set of people must have gone!!!")
    y = 7
    u = 10
    total = y + u
    print("since the condition is not met, the sum is {}".format(total))

We are good to go!!!
What is your name seun
Will you like to generate a nivkname from your name

In [38]:
w = 6
if w > 5:
    print("we are in the block if ")
elif w == 10:
    print("we are in the block of elif ")
else:
    print("we are in the block of else ")

we are in the block if

In [42]:
# for loop

# used to iterate over iterable elements

name = "olaitan"
for i in name:
    print(i,end =" ")

o l a i t a n

In [ ]:
grade = eval(input('Enter your score: '))
if grade>=90:
    print('A')
if grade>=80 and grade<90:
    print('B')
if grade>=70 and grade<80:
    print('C')
if grade>=60 and grade<70:
    print('D')
if grade<60:
    print('F')

In [3]:
# WHILE LOOP

a = 0
while a <=7:
    print("inside while loop {} time".format(a))
    a+=1

inside while loop 0 time
inside while loop 1 time
inside while loop 2 time
inside while loop 3 time
inside while loop 4 time
inside while loop 5 time
inside while loop 6 time
inside while loop 7 time

In [ ]:
# WHILE TRUE

t = 4
while True:
    if t<=8:
        print("We are good!")
    t+=1

We are good!
We are good!
We are good!
We are good!
We are good!

In [1]:
# LOOP CONTROL SYSTEM BREAK

all_population = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

odd_population = []
even_population = []
for j in all_population:
    if j ==12:
        break
    if j %2 ==0:
        even_population.append(j)
    else:
        odd_population.append(j)

In [2]:
print(odd_population)

[1, 3, 5, 7, 9, 11]

In [4]:
even_population

[2, 4, 6, 8, 10]

# ERROR HANDLING | 2-5-2024


1. TRY  
2. EXCEPT
3. FINALLY

In [6]:
y = [12,3,6,7]
print("Element at index 5 id ", y[5])
print("well, we are good at error handling in python")

IndexError: list index out of range

In [7]:
y = [12,3,6,7]
try:
    print("Element at index 5 id ", y[5])
    print("well, we are good at error handling in python")
except:
    print("no element of index 5")
    print("well, we are good at error handling in python")

no element of index 5
well, we are good at error handling in python

In [8]:
# FINALLY: whatever in the finally block will be executed regardless of the errors in the code

y = [12,3,6,7]
try:
    print("Element at index 5 id ", y[5])
    print("well, we are good at error handling in python")
except:
    print("no element of index 5")
    print("well, we are good at error handling in python")
finally:
    print("Bingo")

no element of index 5
well, we are good at error handling in python
Bingo

# FUNCTION

In [15]:
# Function is a group of statements defined under a specific name to perform a specific task
# it is used to save several lines of code

In [17]:
# TYPES OF FUNCTIONS:

#1. NON-PARAMETER FUNCTION e.g
def greeting():
    print("Hello everyone, are you all set for the journey")

In [18]:
greeting()

Hello everyone, are you all set for the journey

In [20]:
# 2. PARAMETER FUNCTION
# It always RETURN a value 

def add_two_numbers(w, o):
    total = w + o
    return total

In [21]:
add_two_numbers(20,16)

36

In [22]:
def add_two_names(w, o):
    total = w + o
    return total

In [25]:
add_two_names("Oluwaseun", "Mike")

'OluwaseunMike'

In [26]:
# write a function that converts minutes to second

def min_to_sec(m):
    In_sec = m * 60
    return In_sec

In [29]:
min_to_sec(2)

120

In [31]:
# ANONYMOUS function
# lamba is the function used here

# Q: write a function that converts minutes to second

sec = lambda mins : mins * 60
sec(4)

240

In [33]:
# function to multiply three numbers

y = lambda w, i, m : w * i * m
y(4,3,4)

48

In [34]:
# Write a function that calculates the area of a triangle
# formula: 1/2 base * height


def area_of_triangle(b,h):
    area = b/2 * h
    return area

In [35]:
area_of_triangle(10,3)

15.0

In [37]:

area = lambda b, h: b/2 * h
area(2,5)

5.0

In [ ]:
# Write an application that will count the number of votes by candidates in an election

a = []
b = []
c = []
void = []
number_of_voter = 0
while True:
    if number_of_voter <= 14:
        vote = input("Count your vote ").upper()
        if vote == "A":
            a.append(vote)
        elif vote == "B":
            b.append(vote)
        elif vote == "C":
            c.append(vote)
        else:
            void.append(vote)
        number_of_voter +=1
        break

In [ ]:
#I am a skilled and detail-oriented data analyst with a passion for
uncovering insights and driving data-informed decisions. With [X years] of
experience in the field, I have honed my abilities in data interpretation, 
statistical analysis, and visualization techniques.


Multidisciplinary, driven Data Scientist/Analyst with passion for condensing large data into a simple understanding story.
Adept at gathering, cleaning, analyzing and interpreting large data with strong attention to details to deliver insight 
and implement action-oriented solution to complex business problem. Significant experience at creating robotic regression,
classification, and clustering model through 
adequate feature engineering to determine the best course of action to meet business needs

# OBJECT ORIENTED PROGRAMMING | 06-05-24

In [1]:
# It is a paradigm used to organized codes into obects or classes for reuseable or easy access
# class is a group of functions 
# A method is the function the obj to perfom

In [5]:
class Human:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        
    def greeting(self):
        print(f"my name is {self.first_name} {self.last_name} and i am greeting everyone here ")
        
    def eat(self):
        print("i can eat any type of food")

In [6]:
first_human = Human("Olaitan", "James", 12)

In [7]:
# Let the first_human greet people
first_human.greeting()

my name is Olaitan James and i am greeting everyone here

In [8]:
first_human.eat()

i can eat any type of food

In [9]:
# INHERITANCE

In [10]:
class ChildHuman(Human):
    def __init__(self, first_name, last_name, age, gender):
        super().__init__(first_name, last_name, age)
        self.gender = gender
        
    def gender_check(self):
        if self.gender == "male":
            print("I am a man!!")
        else:
            print("I will wait to confirm my attributes ")

In [13]:
first_child = ChildHuman("Kazeem", "Sancho", 12, "male")

In [14]:
first_child.gender_check()

I am a man!!

In [92]:
# class project

class CarOperation:
    def __init__(self, maker, model, year):
        self.maker = maker
        self.model = model
        self.year = year
        self.engine_on = False
        self.speed = 0
        
    def engine_start(self):
        if self.engine_on == False:
            print(f"{self.maker} {self.model} {self.year} started!!")
            self.engine_on = True
        else:
            print(f"{self.maker} {self.model} {self.year} already started!!")
                  
    def engine_off(self):
        if self.engine_on == True:
            print(f"{self.maker} {self.model} {self.year} off!!")
            self.engine_on = False
        else:
            print(f"{self.maker} {self.model} {self.year} already off!!")
            
    def accelerate(self, acceleration):
        if self.engine_on == True:
            self.speed+=acceleration
            print(f"{self.maker} {self.model} {self.year} accelerating at {self.speed} km/hr!!")
            if self.speed > 80:
                print("You need to decellerate at this speed!!")
            else:
                print("Still within the speed limit")
        else:
            print("You need to start the engine before accelerating ")
            
    def decelerate(self, deceleration):
        if self.speed >0:
            self.speed -= deceleration
            print(f"{self.maker} {self.model} {self.year} decelerating to {self.speed} km/hr!!")
        else:
            print("You need to be on speed before decelerating ")

In [93]:
car1 = CarOperation("Toyota", "Camry", 2023)
car1.engine_start()

Toyota Camry 2023 started!!

In [86]:
car1.engine_start()

Toyota Camry 2023 already started!!

In [87]:
car1.accelerate(20)

Toyota Camry 2023 accelerating at 20 km/hr!!
Still within the speed limit

In [88]:
car1.engine_off()

Toyota Camry 2023 off!!

In [89]:
car1.accelerate(20)

You need to start the engine before accelerating

In [94]:
car1.decelerate(10)

You need to be on speed before decelerating

# NUMPY   | 7-05-2024

In [3]:
a = range(0,21,2)
print(a)

range(0, 21, 2)